<!DOCTYPE html>
<html>
	<head>
		<title>Bump.</title>
		<meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
	</head>

	<body>
		<div data-role="page" id="login" data-theme="c">
			<div data-role="header">
				<div style="text-align:center;">
					<img src="/static/img/LoopHeader2.png" style="max-width:100%"/>
				</div>
			</div>
			<div data-role="content">
				<div data-role="controlgroup">
					<h1>Bump now!</h1>
					
					<button onClick="send(1,2,3)">Click if you have no motion sensor</button>

				</div>
			</div>
		</div>
	</body>
	<script src="/static/js/zepto.js"></script>
	<script src="/static/js/zepto.onshake.js"></script>
	<script src="/static/js/data_handler.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="http://danielgur.node-server.jit.su:80/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect('http://danielgur.node-server.jit.su:80/socket.io/socket.io.js');

		socket.on('found', function(data) {
			alert("matched");

		});
		socket.on('looking', function(data) {
			alert("not-matched");

		});

		function send(_lon, _lat, _time) {
			alert("send");
			socket.emit('init',{
			lon:_lon,
			lat:_lat,
			time:_time,
			id:1

			});
		}

	</script>
</html>

