{% extends "app_connected/base.html" %}

{% block content %}
					<h1>Bump now!</h1>
					
					<button onClick="send(1,2,3)">Click if you have no motion sensor</button>

{% endblock %}

{% block script %}
	<script src="/static/js/zepto.js"></script>
	<script src="/static/js/zepto.onshake.js"></script>
	<script src="/static/js/data_handler.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="http://danielgur.node-server.jit.su:80/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect('http://danielgur.node-server.jit.su:80/socket.io/socket.io.js');

		socket.on('found', function(data) {
			alert("matched");

		});
		socket.on('looking', function(data) {
			alert("not-matched");

		});

		function send(_lon, _lat, _time) {
			alert("send");
			socket.emit('init',{
			lon:_lon,
			lat:_lat,
			time:_time,
			id:1

			});
		}

	</script>
  {% endblock %}
