<!DOCTYPE html>
<html>
	<head>
		<title>Connected.</title>
		<meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" /> 
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
	</head>

	<body>
		<div data-role="page" id="login" data-theme="c">
			<div data-role="header">
				<div style="text-align:center;">
					<img src="/static/img/LoopHeader2.png" />
				</div>
			</div>
			<div data-role="content">
				<div data-role="controlgrou	p">
					<label for="basic">Username:</label>
    				<input type="text" name="username" id="username" value=""  />
    				<label for="basic">Password:</label>
    				<input type="password" name="password" id="password" value=""  />
    				<input type="submit" value="Login" />
    			</div>
    		</div>
		</div>
		
		<div data-role="page" id="menu" data-theme="c">
			<div data-role="content">
				<div data-role="controlgroup">
					<ul data-role="listview" data-inset="true">
						<li><a href="">Tie-in</a></li>
						<li><a href="">My Info</a></li>
						<li><a href="">Loops</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div data-role="page" id="tie-in" data-theme="c">
			<div data-role="content">
				<div data-role="controlgroup">
					
				</div>
			</div>
		</div>
		
		<div data-role="page" id="myinfo" data-theme="c">
			<div data-role="content">
				<div data-role="controlgroup">
					
				</div>
			</div>
		</div>
		
		<div data-role="page" id="loops" data-theme="c">
			<div data-role="content">
				<div data-role="controlgroup">
					{% for member in members %}
						<p>{{member.name}}</p>
					{% endfor %}
				</div>
			</div>
		</div>
		</body>
		<script src="/static/js/loop.js"></script>
		<script>
			var member_id = 1;
			getLoop();
		</script>
</html>

