
{% extends "app_connected/base.html" %}

{% block content %}
My info:
        {% if member.name %}
                <p>Name: {{member.name}}</p>
        {% endif %}
	{% if member.phone_number %}
		<p>Phone number: {{member.phone_number}}</p>
	{% endif %}
	{% if member.email %}
		<p>Email: {{member.email}}</p>
	{% endif %}
	{% if member.twitter %}
		<p>Twitter: {{member.twitter}}</p>
	{% endif %}
	{% if member.facebook %}
		<p>Facebook: {{member.facebook}}</p>
	{% endif %}
	{% if member.bio %}
		<p>Bio: {{member.bio}}</p>
        {% endif %}

{% endblock %}
